
/* =========Global CSS start here===============*/
body{
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    transition: .4s;
}
body li{
    list-style: none;
}
body a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}

/* Color Variables */
:root{
    --primary-color: #4AB7F4;
    --hover-color: #18794E;
    --primary-black: #222222;
    --white: #ffffff;
    --light-black: #747d8c;

    /* Font-Size */
    --learget-font: 3rem;
    --mediumSize: 2.1rem;
    --subTitle_size: 1.4rem;
}

/* Titles */
.title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--white);
}
.sub_title{
    font-size: var(--mediumSize);
    font-weight: 600;
    color: var(--primary-black);
    transition: .4s;
}
.sub_title2{
    font-size: var(--subTitle_size);
    font-weight: 600;
    color: var(--primary-black);
    transition: .4s;
}
.sub_title2:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.sub_title3{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--primary-black);
    transition: .4s;
}
.smallText{
    font-size: 0.95rem;
    color: var(--primary-black);
    line-height: 1.5rem;
}
/* BTNS */
.primary_btn{
    font-size: 1.1rem;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    background: var(--primary-color);
    border-radius: .2rem;
    padding: .9rem 2rem;
    letter-spacing: .5px;
    transition: .4s;
}
.primary_btn:hover{
    background: var(--hover-color);
}
.backTop{
    position: fixed;
    width: 3rem;
    height: 3rem;
    line-height: 3.2rem;
    text-align: center;
    background: var(--primary-color);
    box-shadow: 0 0 2px var(--light-black);
    transition: .4s ease;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    display: none;
}
.backTop i{
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 0;
}
.backTop:hover{
    background: var(--hover-color);
}
/* =========Global CSS end here===============*/

/* =================Style start =================*/
/* Header design start */
.desktop_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.deskMenuButtons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.desktop_menubar .desktopMlist{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.7rem;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 1.7rem;
}
.desktop_mItem .desktopMlink{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--white);
    letter-spacing: .8px;
}
.desktop_mItem .desktopMlink:hover{
    color: var(--primary-color);
}
.desktopMlink.active{
    color: var(--primary-color);
}
.scrolled .desktopMlink{
    color: var(--primary-black);
}
.scrolled .desktopMlink:hover{
    color: var(--primary-color);
}
.scrolled .desktopMlink.active{
    color: var(--primary-color);
}
.mLogoLink img{
    width: 100px;
}
.desktop_rightSide{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    padding-left: 1.6rem;
    border-left: .1rem solid var(--white);
}
.scrolled .desktop_rightSide{
    border-color: var(--light-black);
}
.desktop_rightSide a i{
    color: var(--white);
    font-size: 1.1rem;
}
.scrolled .desktop_rightSide a i{
    color: var(--light-black);
}
.desktop_rightSide a i:hover{
    color: var(--primary-color);
}
.desktop_rightSide a.active{
    color: var(--primary-color);
}

/* Sub menu design */
.desktoplink{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .4rem;
    cursor: pointer;
}
.desktoplink.active i{
    color: var(--primary-color);
}
.desktoplink.active span{
    color: var(--primary-color);
}
.scrolled .desktoplink.active span{
    color: var(--primary-color);
}
.desktoplink span{
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.scrolled .desktoplink span{
    color: var(--primary-black);
}
.desktoplink i{
    color: var(--white);
}
.scrolled .desktoplink i{
    color: var(--primary-black);
}
.desktoplink:hover span{
    color: var(--primary-color);
}
.desktoplink:hover i{
    color: var(--primary-color);
}
.desktop_mItem{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.deskSubmenu{
    width: 250px;
    background: var(--white);
    border-radius: .5rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}
.desktop_mItem:hover .deskSubmenu{
    display: block;
}
.deskSubItem{
    margin-bottom: 1rem;
}
.deskSubItem:last-child{
    margin-bottom: 0;
}
.deskSubItem .desktopSMlink{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-black);
    line-height: 1.8rem;
}
.deskSubItem .desktopSMlink:hover{
    color: var(--primary-color);
}
.desktopSMlink span, i{
    color: var(--primary-color);
}
.deskSubItem{
    position: relative;
    padding-right: 1.5rem;
}
.desSubMenu2{
    position: absolute;
    top: -1.5rem;
    left: 100%;
    width: 250px;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    display: none;
    padding: 1.5rem;
}
.deskSubItem:hover .desSubMenu2{
    display: block;
}
.desk_subItem2 .deskSubLink2{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-black);
    line-height: 1.5rem;
}
.desk_subItem2{
    margin-bottom: 1rem;
}
.desk_subItem2 .deskSubLink2:last-child{
    margin-bottom: 0;
}
.desk_subItem2 .deskSubLink2:hover{
    color: var(--primary-color);
}
.Mobile_menuOpen{
    background: transparent;
    border: none;
    outline: none;
}
.Mobile_menuOpen i{
    color: var(--light-black);
    font-size: 1.5rem;
}
.Mobile_menuOpen i:hover{
    color: var(--primary-color);
}
/* Header design end */
/* Mobile menu design start */
.offcanvas-header .OCHC{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1rem;
    width: 100%;
}
.offcanvas-header .OCHC img{
    width: 100px;
}
.mobileMenuClose{
    background: transparent;
    border: none;
    outline: none;
}
.mobileMenuClose i{
    font-size: 1.5rem;
    color: var(--light-black);
}
.mobileMenuClose:hover i{
    color: var(--primary-color);
}
.MobileMlist{
    padding-left: .5rem;
    margin-left: 0;
}
.MobileMlist .Mobile_mItem{
    margin-bottom: 1rem;
}
.MobileMlist .Mobile_mItem:last-child{
    margin-bottom: 0;
}
.Mobile_mItem .MobileMlink{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-black);
    line-height: 1.5rem;
}
.Mobile_mItem .MobileMlink:hover{
    color: var(--primary-color);
}
.MobileSubmenu{
    padding-left: 1rem;
    overflow: hidden;
    height: 0;
    transition: all 5s ease-in-out;
}
.MobileSubmenu.height-fits{
    height: fit-content;
}

.MobileSubMenu2{
    padding-left: 1rem;
}
.Mobilelink{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .4rem;
    cursor: pointer;
}
.Mobilelink span{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--primary-black);
}
.Mobilelink i{
    color: var(--primary-black);
}
.Mobilelink:hover span{
    color: var(--primary-color);
}
.Mobilelink:hover i{
    color: var(--primary-color);
}
.MobileSMlink{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .4rem;
    cursor: pointer;
    margin-top: 1rem;
}
.MobileSMlink span{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--primary-black);
}
.MobileSMlink i{
    color: var(--primary-black);
}
.MobileSMlink:hover span{
    color: var(--primary-color);
}
.MobileSMlink:hover i{
    color: var(--primary-color);
}
.MobileSMlink{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--primary-black);
}
.MobileSMlink:hover{
    color: var(--primary-color);
}
.MobileSubLink2{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--primary-black);
}
.Mobile_subItem2{
    margin-top: 1rem;
}
.MobileSubLink2:hover{
    color: var(--primary-color);
}
.MobileSubMenu2{
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.MobileSubMenu2.height-fits{
    height: 210px;   
}
.header_user.active i{
    color: var(--primary-color);
}
.scrolled .header_user.active i{
    color: var(--primary-color);
}
.header_card.active i{
    color: var(--primary-color);
}
.scrolled .header_card.active i{
    color: var(--primary-color);
}

/* Mobile menu design end */

/* SLIder section start */
.header_section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    transition: all .4s ease;
    padding: 1rem 0;
}
.header_section.scrolled{
    background: var(--white);
    padding: 0;
    border-bottom: 1px solid #ddd;
}
.topSliderSection{
    position: relative;
    height: 800px;
    overflow: hidden;
}
.sicgle_slider{
    display: none;
    transition: .5s;
    width: 100%;
    height: 100%;
}
.sicgle_slider img{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -4rem;
}

.indicators{
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 111;
    transform: translateY(-50%);
}
.indic{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    opacity: .6;
    cursor: pointer;
}
.sicgle_slider.z-indexing{
    display: block;
}
.indic:hover{
    opacity: 1;
}
.indic.active{
    opacity: 1;
}
.sicgle_slider .slider_data{
    margin-top: 25%;
    position: relative;
}
.bgLightSlider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}
.borderDiv{
    width: 25rem;
    height: 0.2rem;
    background: var(--primary-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sliderparagraph{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 3rem;
    width: 55%;
    letter-spacing: .7px;
}
.sliderChanging{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    transform: translateY(-50%);
    z-index: 2222;
    pointer-events: none;
}
.sliderChanging .sliderIndicate{
    z-index: 22222;
    pointer-events: painted;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}
.sliderIndicate i{
    color: var(--white);
    font-size: 1.8rem;
    transition: .4s;
}
.sliderChanging .sliderIndicate:hover{
    opacity: .6;
}
.bgBlackSlider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: all .5s;
    z-index: 222222222222;
}
.z-indexing .bgBlackSlider{
    width: 0;
    opacity: .2;
}



/* Slider section end */

/* Success section start */
.titleParagraph{
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--primary-black);
}
.titleParagraph .TPlink{
    text-decoration: none;
    color: var(--primary-color);
    transition: .4s;
    font-weight: 600;
    margin-left: 0.2rem;
}
.titleParagraph .TPlink:hover{
    color: var(--hover-color);
}
.sectionTitle{
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.successBody{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1%;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin-bottom: 2rem;
}
.successSection{
    background: var(--white);
    padding: 3.5rem 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    box-shadow: 0 0 50px 70px var(--white);
}
.successSingle{
    width: 24%;
    text-align: center;
}
.successSingle i{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    display: block;
}
.successSingle span{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-black);
}
/* Success section end */

/* SErvices section start */
.services_section{
    padding: 5rem 0;
}

.servicesImg{
    position: relative;
    margin-bottom: 1rem;
    position: relative;
    transition: .4s;
}
.saleTop{
    position: absolute;
    top: .8rem;
    left: .8rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--white);
    background: var(--primary-color);
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    z-index: 22;
}
.imgOverly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, .3);
    display: none;
    transition: .4s;
}
.servicesImg:hover .imgOverly{
    display: block;
}
.servicesImg img{
    width: 100%;
}

.service_price{
    font-size: .9rem;
    font-weight: 500;
    color: var(--primary-color);
}
.service_price del{
    color: var(--light-black);
    margin-right: 0.2rem;
}
.serviceRating i{
    color: var(--primary-color);
    font-size: 0.8rem;
} 
.SviewCard{
   display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden; 
    display: none;
}
.SaddToCard{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.serviceAddCard{
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    width: fit-content;
}
.SaddCard{
    padding: .525rem .8rem;
    background: var(--white);
    font-size: .9rem;
    color: var(--primary-black);
    margin-right: -100%;
    transition: .4s;
    font-weight: 600;
}
.serviceAddCard i{
    overflow: hidden;
    background: var(--white);
    padding: .7rem .8rem;
    font-size: 1rem;
    color: var(--light-black);
    display: inline-block;
}
.serviceAddCard :hover .SaddCard{
    margin-right: 0;
}
.serviceAddCard i:hover{
    color: var(--primary-color);
}
/* Services section end */

/* Sidebar card design start */
.sidebarcardMain{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    z-index: 999999;
    display: none;
    transition: .4s ease;
}
.sidebarCard{
    position: absolute;
    right: 0;
    top: 0;
    width: 95%;
    max-width: 380px;
    height: 100vh;
    background: var(--white);
    padding: 2rem;
    z-index: 999999;
    transform: translateX(100%);
    transition: .4s ease;
}
.sCardHeader{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}
.sCardHeader i{
    font-size: 1.4rem;
    color: var(--light-black);
    transition: .4s;
}
.sCardHeader i:hover{
    color: var(--primary-color);
}
.sCardBody{
    margin-top: .8rem;
    padding-top: 1.5rem;
    border-top: 2px solid var(--primary-color);
}
.cProductSingle{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: .8rem;
}
.cProductImg{
    width: 8.5rem;
    position: relative;
}
.cProductImg img{
    box-shadow: 0 0 2px var(--light-black);
}
.cProductClose{
    position: absolute;
    top: 0;
    left: 0;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    background: var(--white);
    border: none;
    outline: none;
}
.cProductClose i{
    font-size: 1rem;
    color: var(--light-black);
    transition: .4s;
}
.cProductClose:hover i{
    color: var(--primary-color);
}
.CPtitle{
    font-size: .9rem;
    font-weight: 600;
    color: var(--primary-black);
    line-height: 1rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    transition: .4s;
}
.CPtitle:hover{
    color: var(--primary-color);
}
.CPprice{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--light-black);
}
.sCardFooter{
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--white);
    padding: 0 2rem 2rem 2rem;
    width: 100%;
    height: fit-content;
}
.sCardTotal{
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.sCardTotal span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.scard_total{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-black);
    margin-bottom: 0;
}
.sCardlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 1.5rem 0;
}
.sCardlinks a{
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding-bottom: 0.2rem;
    transition: .4s;
}
.sCardlinks a:hover{
    border-color: var(--hover-color);
    color: var(--hover-color);
}
.sCardCheckout{
    margin-top: 0.2rem;
    width: 100%;
    display: inline-block;
    background: var(--primary-color);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    transition: .4s;
    color: var(--white);
    padding: 1rem;
}
.sCardCheckout:hover{
    background: var(--hover-color);
}
.sCardBody{
    height: calc(100% - 13rem);
    overflow-y: auto;
}
.SCPsingleMain{
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.SCPsingleMain:first-child{
    padding-top: 0;
}
.SCPsingleMain:last-child{
    border: none;
}
/* Sitenar cart design end */

/* Consultation section start */
.consultation_section{
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: #ecf0f1;
}
.consultation_section .consulIMG{
    position: absolute;
    right: -25%;
    top: 0;
    height: 100%;
    width: fit-content;
}
.consultationMain{
    z-index: 2222;
    width: 100%;
    max-width: 750px;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 0 80px 80px var(--white);
    position: relative;
}
.consultHtitle{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-black);
}
.consultationInner{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background: var(--white);
    padding-bottom: 1rem;
}
.consultationBody{
    padding: 3rem 3rem 3rem 2px;
    height: 550px;
    overflow-y: auto; 
}
.consultation_bInner{
    background: var(--white);
    border-radius: .5rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, .2);
}
.btn-next-month i{
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: .4s;
}
.btn-next-month i:hover{
    color: var(--hover-color);
}
.btn-prev-month i{
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: .4s;
}
.btn-prev-month i:hover{
    color: var(--hover-color);
}
.btn-curr-month.month-name{
    color: var(--primary-black);
}
.consultTopInner{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1.5rem 6rem;
}
.consultTopInner img{
    width: 6rem;
    margin: .5rem auto;
}
.rsCTIparagraph{
    font-size: .95rem;
    font-weight: 600;
    color: #2f3640;
    opacity: .9;
    margin: 0;
}
.consultationCalenderDiv{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 3%;
    transition: .4s ease;
    position: relative;
}
.calenderInnerDate{
    width: 55%;
}
.calenderInnerTime{
    width: 42%;
    margin-top: 4.2rem;
    position: relative;
}
.timeBoxSingle{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
.timeBoxSingle.next button{
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    width: 48%;
    text-align: center;
    height: 3.3rem;
    line-height: 3.3rem;
    border-radius: .4rem;
    border: none;
}
.timeBoxSingle.next .timeBtn{
    background: #666666;
    border: none;
    pointer-events: none;
    transition: .4s;
}
.timeBoxSingle.next .timeBtn:hover{
    border: none;
}
.timeBoxSingle.next .timeNextBtn{
    background: var(--primary-color);
    transition: .4s;
    transform: translate(0);
    position: relative;
}
.timeBoxSingle.next .timeNextBtn:hover{
    background: var(--hover-color);
}
.timeBoxSingle{
    overflow: hidden;
}
.timeBoxSingle .timeBtn{
    width: 100%;
    border: 1px solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color);
    height: 3.3rem;
    border-radius: .4rem;
    font-weight: 700;
    pointer-events: painted;
}
.timeBoxSingle .timeBtn:hover{
    border: 2px solid var(--primary-color);
}
.timeBoxSingle .timeNextBtn{
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: -.1px;
}
.timer_top{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5rem;
    margin: 1rem auto;
}
.timerTinner{
    opacity: .8;
}
.timerTinner i{
    color: #2f3640;
    margin-right: 0.3rem;
    font-size: 1.1rem;
}
.timerTinner span{
    font-size: 0.9rem;
    font-weight: 600;
    color: #2f3640;
}
.consultTopInner .smallText{
    width: 90%;
    margin: auto;
}
.appointmentMain{
    padding: 1.5rem;
    background: var(--white);
    display: none;
    transition: .4s ease;
}
.calenderOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    z-index: 22;
}
.appointmentForm{
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}
.apointmentformTitle{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--primary-black);
}
.appointFormLevel{
    font-size: .95rem;
    font-weight: 600;
    color: var(--primary-black);
    display: block;
}
.appointmentForm input, textarea{
    width: 100%;
    padding: 0.6rem;
    border-radius: .4rem;
    display: block;
    margin-bottom: 1.2rem;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px var(--primary-color);
    outline-color: var(--primary-color);
}
.appointmentForm .policies{
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--primary-black);
}
.policies a{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-color);
    transition: .4s ease;
}
.policies a:hover{
    text-decoration: underline;
    color: var(--hover-color);
}
.p-2.js-collapse{
    position: absolute;
    top: 1rem;
    right: 1.2rem;
}
.p-2.js-collapse .list-group-item{
    padding: 0;
    background: transparent;
    margin-top: -0.8rem;
}
.consultConfirm_main{
    padding: 1.5rem 3rem;
    width: 100%;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
    transition: .4s ease;
}
.confirmParagraph{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-black);
    opacity: .9;
}
.confirmData{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-black);
}

/* Consultation section end */

/* Client Testimonial start */
.clientTestmonialSection{
    padding: 4rem 0;
    background: linear-gradient(45deg, var(--primary-color), #00d2d3);
}

.reviewerInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
}
.reviewerImg{
    width: 6rem;
}
.reviewerImg img{
    border-radius: 50%;
}
.reviewerName{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
}
.reviewerPosition{
    font-size: 1rem;
    font-weight: 700;
    color: var(--hover-color);
}
.clientTestimonialSingle .paragraph{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    margin-top: 1rem;
}
.slick-arrow{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    color: transparent;
}
.slick-arrow:before {
    font-size: 2.2rem; 
    color: var(--white);
    box-shadow: transparent;
}
/* Slient testimonial end */